.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.4vmin);
  color: rgb(72, 82, 152);
  font-weight: 600;
}

.App-link {
  color: #0c12bb;
}